<!doctype html>

<html>

<head>
	<title>Habit Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/habit.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/610d507d86.js" crossorigin="anonymous"></script>
	<script src="/js/habitBack.js"></script>
</head>

<body>
	<header>
		<nav class="navbar navbar-fixed-top navbar-inverse">
			<div class="container-fluid top">
				<a class="navbar-brand" href="#" style="color: white;">HABIT</a>
				<button class="btn navbar-toggle navbar-right" type="button"
					onclick="location.href='http://localhost:3000/createHabit'">
					<span style="color: white">
						<i class="fas fa-plus"></i>
					</span>
				</button>
			</div>
		</nav>

		<nav class="navbar navbar-fixed-bottom navbar-inverse">
			<div class="container-fluid bottom">
				<a class="navbar-brand" id="home" href="http://localhost:3000/habit" style="color: white;">HABIT</a>
				<a class="navbar-brand" id="setting" href="http://localhost:3000/setting"
					style="color: white;">SETTING</a>
			</div>
		</nav>
	</header>

	<div class="container">
		{{#each habitData}}
		<div class="habitbox" id="{{hname}}">
			<div class="thumbnail">
				<h2 class="habitName">{{hname}}</h2>

				{{!-- <button onclick="location.href='http://localhost:3000/habitDetails'" type="button"
					class="btn threedots">
					<i class="fas fa-ellipsis-v"></i>
				</button> --}}

				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle threedots" type="button" id="dropdownMenu1"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<i class="fas fa-ellipsis-v"></i>
					</button>
					<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
						<li><a class="edit" href="#" onclick="alert('Edit feature coming soon!');">EDIT</a></li>
						<li role="separator" class="divider"></li>
						<li><a class="delete" href="#" onclick="alert('Delete feature coming soon!');">DELETE</a></li>
					</ul>
				</div>

				<hr class="divider">
				<p class="babystep">{{step}}</p>
				<div class="days">
					{{#each occ}}
					<input type="checkbox" class="cb" id="{{this}}{{@index}}" name="{{this}}" value="{{this}}">
					<label for="{{this}}{{@index}}">{{this}}</label>
					{{/each}}
				</div>
				<p class="reminder">{{time}}</p>
			</div>
		</div>
		{{/each}}
	</div>
</body>

</html>